# To create or update a token visit https://envio.dev/app/api-tokens
ENVIO_API_TOKEN="<YOUR-API-TOKEN>"

# RPC URLs for chain-specific contract calls (Effects)
ENVIO_RPC_URL_314="https://api.node.glif.io/rpc/v1"
ENVIO_RPC_URL_42161="https://arb1.arbitrum.io/rpc"
